---
permalink: css/style.css
---

:root {
{% for key, value in colors %}
    --{{ key }}: {{ value }};
{% endfor %}
}

body {
    font-family: 'Roboto', sans-serif;
}

.bg-custom {
    background-image: url(../img/background.png);
    background-size: cover;
}

.content-wrapper {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: {{ colors.center }}
    /* opacity: 0.75; */
}

.inner-content-wrapper {
    padding: 2vw;
    color: {{ colors.text }};
}

/* Navbar colors */

.navbar {
    background-color: {{ colors.header }};
}

.navbar-brand {
    color: {{ colors.text }};
}

.nav-link {
    color: {{ colors.text }};
}

.nav-link.active {
    color: {{ colors.navbarCurrent }} !important;
}
