
:root {

    --background: #503F3B;

    --header: #4a0e0a;

    --center: #000000B0;

    --text: #ebd5d3;

    --navbarCurrent: #877272;

}

body {
    font-family: 'Roboto', sans-serif;
}

.bg-custom {
    background-image: url(../img/background.png);
    background-size: cover;
}

.content-wrapper {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: #000000B0
    /* opacity: 0.75; */
}

.inner-content-wrapper {
    padding: 2vw;
    color: #ebd5d3;
}

/* Navbar colors */

.navbar {
    background-color: #4a0e0a;
}

.navbar-brand {
    color: #ebd5d3;
    pointer-events: none;
    cursor: default;
}

.nav-link {
    color: #ebd5d3;
}

.nav-link.active {
    color: #877272 !important;
}

.navbar-nav .nav-link:hover {
    color: #877272 !important;
}}